# Node modules
node_modules/

# Environment variables
.env
/backend/.env

# Logs
*.log
*.log.*

# Storybook logs (if you're using Storybook)
*.storybook.log

# OS-specific files
.DS_Store
Thumbs.db

# Build output
build/

# Editor-specific files
.vscode/
.idea/
*.swp

.gitignore
